<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cloudaddy Load Testing Application</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- Leave those next 4 lines if you care about users using IE8 -->
    <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->

    <link rel="shortcut icon" type="image/ico" href="/public/img/favicon.ico"/>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" title="Cloudaddy">
            <img src="/public/img/logo.png" class="logo"></a>
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
      <h2>Cloudaddy Load Testing App</h2>
      <h3>Preset scenarios</h3>
      <ul id="preset-scenarios-container">
        <li>
          <a data-user="3" data-reports="2" data-date-back="10">3 users, 2 reports which date back 10 days</a>
        </li>
        <li>
          <a data-user="10" data-reports="6" data-date-back="30">10 users, 6 reports which date back 30 days</a>
        </li>
        <li>
          <a data-user="17" data-reports="10" data-date-back="60">17 users, 10 reports which date back 60 days</a>
        </li>
        <li>
          <a data-user="24" data-reports="14" data-date-back="90">24 users, 14 reports which date back 90 days</a>
        </li>
      </ul>
      <form id="testing-form" class="form-inline" action="/start-testing" method="post">
        <div class="form-group">
          <label for="numberOfConcurrentUsers">Number of Concurrent Users</label>
          <input type="number" class="form-control" id="numberOfConcurrentUsers" name="numberOfConcurrentUsers" placeholder="Number of Concurrent Users" value="10" required="true">
        </div>
        <div class="form-group">
          <label for="numberOfJobsPerUser">Number of Jobs per User</label>
          <input type="number" class="form-control" id="numberOfJobsPerUser" name="numberOfJobsPerUser" placeholder="Number of Jobs per User" value="5" required="true">
        </div>
        <div class="form-group">
          <label for="numberOfJobsPerUser">Days dates back</label>
          <input type="number" class="form-control" id="daysDatesBack" name="daysDatesBack" placeholder="Days dates back" value="30" required="true">
        </div>
      </form>
      <div id="button-container">
        <button type="button" id="btnStartTesting" class="btn btn-primary">Start Load Testing</button>
        <button type="button" id="btnStopTesting" class="btn btn-danger" disabled="true">Stop Testing</button>
      </div>

      <div id="data-table-container">
        <table id="data-table"></table>
      </div>
    </div>

    <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
    <script src="/public/js/index.js"></script>
  </body>
</html>
